<!-- <div class="card" style="margin-left: 5%;margin-right: 5%;margin-top: 2%;"> -->
<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
  voluptatibus tempore optio fuga. Dolorem sequi obcaecati maiores, porro
  possimus fuga quidem minima maxime expedita odio qui deserunt iure molestiae
  nemo? Qui repellendus tenetur ea voluptates cupiditate alias excepturi. Earum
  laudantium in vel tenetur hic, fugiat facere repudiandae corporis magnam non
  ipsam possimus, numquam, iusto similique esse asperiores necessitatibus magni.
  Cupiditate?
</p>

<!-- </div> -->