<ul class="nav justify-content-end shadow">
    <li class="nav-item" style="margin-right: 60%;">
        <a class="nav-link" aria-current="page" href="Main">Daily Journal</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="Main">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="contact.ejs">Contact Us</a>
    </li>
  </ul>